* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #426787;
 
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1D2834;
    padding: 1% 5%;
    height: 100%;
    
        /* Ocupa toda la altura del body */
  
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}

a:hover {
    color: #426787;
}

/* .roleLinks, .wireframesLfClass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;


} */

.flowLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-around;
    align-items: center;
    width: 150%; */
    margin-top: 15px;
    display: none;

}

.flowLinks a {
    margin: 0 2%;
    font-size: small;
 
}

.logo {
    width: 40%;
    margin-bottom: 20px;

}

.mostrarClicadosClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    overflow: scroll;
    white-space: nowrap;
    height: 700px;
    border-radius: 5px;

}



/* .imgMostrarClass {

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
} */

/* Supuestamente responsive */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #426787;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1D2834;
    padding: 1% 5%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

a:hover {
    color: #426787;
}

.roleLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.flowLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    display: none;
}

.flowLinks a {
    margin: 0 2%;
    font-size: small;
}

.logo {
    width: 30%;
    max-width: 150px;
 
}

.mostrarClicadosClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.imgMostrarClass {
    width: 100%;
    max-width: 700px;
   
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
} */